$mobile1: "min-width: 360px";
$mobile2: "min-width: 400px";
$tablet1: "min-width: 768px";
$tablet2: "min-width: 992px";
$desktop1: "min-width: 1200px";
$desktop2: "min-width: 1440px";
$desktop3: "min-width: 1920px";


$white: #FFFFFF;
$black: #000000;
$gray: #C5C6D1;
$blue: #1053AB;
$blue-hover: #026FBA;
$gray-blue: #E9ECF3;
$gray-blue-dark: #E4E7EE;
